<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="reve-models-contract" value="json" />
    <add key="reve-values-contract" value="json" />
    <add key="reve-models-src" value="validations.json" />
    <add key="reve-models-src-json" value="validations.json" />
    <add key="reve-models-src-xml" value="validations.xml" />
    <add key="reve-values-src" value="rules.json" />
    <add key="reve-values-src-json" value="rules.json" />
    <add key="reve-values-src-xml" value="rules.xml" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>